apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: fibonacci
spec:
  ports:
    - port: 8080
      name: http
  type: ClusterIP
  selector:
    app: server
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: fibonacci
spec:
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          image: registry.orb.local/server
          env:
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: http://otel.fibonacci.svc.cluster.local:4317
          ports:
            - containerPort: 8080
          livenessProbe:
            grpc:
              port: 8080
